<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=80vw, initial-scale=1.0">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">BookBank</a>
            <div>
                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-control mr-sm-2">Welcome!</div>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Register</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-secondary bg-gradient" style="width: 90%; padding: auto;">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card-body">
                    <h3 class="card-title">The best way to book an appointment for bank</h3>
                    <p class="card-text">Using banks can be a very exhausting and tiring experience for the customers
                        due to how crowded it can get and time consuming, Bookbank solves this problem by making a
                        platform that will show the available time slots and days for a certain bank, and the users can
                        login and reserve an appointment in said bank.</p>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="card text-dark bg-light mb-3" style="padding: 2%; align-items: center;">
                    <h2>Login</h2>
                    <form method="POST" action="{% url 'login_registration' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login_email">Email</label>
                            <input type="email" class="form-control" id="login_email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="login_password">Password</label>
                            <input type="password" class="form-control" id="login_password" name="password" required>
                        </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="alert alert-danger mt-4">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button href="{% url 'home_page_customer' %}" class="btn btn-primary" name="login_submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Include the necessary JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- include the script for the ajax -->
    
</body>

</html>
